// src/sass/foundation/_mixin.scss
@use "sass:map";

$breakpoints: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width: 768px) and (max-width: 1024px)",
  pc: "screen and (min-width: 1025px)",
  large: "screen and (min-width: 1280px)",
  fullhd: "screen and (min-width: 1920px)"
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
}

.hidden-tab {
  @include mq(tab) {
    display: none;
  }
}

.hidden-pc {
    @include mq(pc) {
      display: none;
    }
}

.hidden-sp {
    @include mq(sp) {
      display: none;
  }
}

// html, body {
//   overflow-x: hidden !important;// ✅ 横スクロールを防ぐ
// }

.fade-in-up {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 1s, transform 1s;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}

.swiper-slide {
  width: 100%;         // autoではなく、Swiperに任せる
 
}

.about__swiper-wrapper {
  transition-timing-function: linear !important; // ← ここが超重要
}
