html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots", content="noindex")
        title onomichi
        link(rel="stylesheet", href="./assets/css/style.css")
        link(rel="stylesheet", href="./assets/css/reset.css")

    body
        header 
            .header__inner
                .header__contents 
                    .header__logo 
                        img(src="./assets/img/logo.png", alt="")
                    .header__nav 
        
        .mv 
            .mv__bg 
                img(src="./assets/img/Onomichi.png", alt="")
            .mv__inner
               .mv__contents 
                    .mv__text あなたの見つけたレトロな尾道の一枚を<br>Instagramに投稿しよう
                    .mv__title1
                        img(src="./assets/img/mv_title1.png", alt="")
                    .mv__title2
                        img(src="./assets/img/mv_title2.png", alt="")
                    .mv__content
                        .mv__share 
                            img(src="./assets/img/mv_fukidashi.png", alt="")
                        .mv__present 
                            img(src="./assets/img/present.png", alt="")
                    .mv__smart 
                        img(src="./assets/img/smartphone.png", alt="")
                    .mv__food 
                        img(src="./assets/img/food.png", alt="")
                    .mv__cats 
                        img(src="./assets/img/cats.png", alt="")

        .about
            .about__inner
                .about__contents
                    .about__icon.icon
                        img(src="./assets/img/about_icon.png", alt="")
                    .about__picture-left 
                        img(src="./assets/img/about_Left.png", alt="")
                    .about__picture-right 
                        img(src="./assets/img/about_Right.png", alt="")
                    .about__picture1
                        img(src="./assets/img/about1.png", alt="")
                    .about__picture2
                        img(src="./assets/img/about2.png", alt="")
                    .about__title1.title1 About
                    .about__title2.title2 キャンペーンについて
                        
                    .about__text1
                        |あなたの心が動いた尾道の瞬間を
                        br
                        |＼ おしえてください！ ／
                    .about__text2
                        |風情あふれる坂道に、静かに佇むお寺。
                        br
                        |路地裏の角をまがれば
                        br
                        |気ままにお昼寝する猫に出会え、
                        br
                        |ふと振り返れば、美しい瀬戸内の海が。
                        br
                        br
                        |数々の映画の舞台にもなってきたこの街には
                        br
                        |心がほどけるような、
                        br
                        |レトロでやさしい風景が広がっています。
                        br
                        br
                        |あなたの見つけた尾道のなつかしい景色を、
                        br
                        |ぜひおしえてください。
                        br
                        br
                        |尾道観光部（@onomichi_retro）を
                        br
                        |フォロー&尾道で撮影した写真を、
                        br
                        |ハッシュタグ「#見つけて尾道レトロ」を
                        br
                        |つけてInstagramに投稿いただいた方の中から
                    .about__text3 尾道のギフトを100名様にプレゼント！
                    .about__button.button 参加の仕方はこちら
                .about__pictures 
                    .about__arrow 
                        img(src="./assets/img/arrow.png", alt="")
                    .about__sakamichi 
                        img(src="./assets/img/sakamichi.png", alt="")
                    .about__goods 
                        img(src="./assets/img/about_goods.png", alt="")
                    .about__ball 
                        img(src="./assets/img/about_ball.png", alt="")
                    .about__onomichi 
                        img(src="./assets/img/about_onomichi.png", alt="")
                .about__scroll 

        .how 
            .how__inner
                .how__contents
                    .how__icon.icon
                        img(src="./assets/img/how_icon.png", alt="")
                    .how__picture-map 
                        img(src="./assets/img/how_map.png", alt="")
                    .how__picture-cats 
                        img(src="./assets/img/how_cats.png", alt="")
                    .how__title1.title1 How to Enter
                    .how__title2.title2 応募の仕方
                .how__steps 
                    .how__step 
                        .how__step-image
                            img(src="./assets/img/how_step1.png", alt="")
                        .how__step-title アカウントをフォロー
                        .how__step-text 
                            |Instagramアプリをダウンロードして、
                            br
                            |公式アカウント尾道観光部(@onomichi_retro)の
                            br
                            |Instagramのアカウントをフォローしてにゃん。
                        .how__follow 
                            .how__follow-icon 
                                img(src="./assets/img/how_follow.png", alt="")
                            .how__follow-text onomichi_tabi をフォロー
                        .how__step-line 
                            img(src="./assets/img/how_step-line.png", alt="")
                    .how__step 
                        .how__step-image
                            img(src="./assets/img/how_step2.png", alt="")
                        .how__step-title 尾道で撮影
                        .how__step-text
                            |尾道の旅で「レトロ」を感じられる
                            br
                            |写真を撮影してほしいんだにゃ。
                            br
                            |美しい景色、愛らしい猫、美味しい食べ物や
                            br
                            |可愛いお土産など、なんでもOK！
                        .how__step-line 
                            img(src="./assets/img/how_step-line.png", alt="")
                    .how__step 
                        .how__step-image
                            img(src="./assets/img/how_step3.png", alt="")
                        .how__step-title  ハッシュタグをつけて投稿！
                        .how__step-text
                            |ハッシュタグ「＃見つけて尾道レトロ」を
                            br
                            |必ずつけて投稿してにゃん！
                            br
                            |投稿して頂いた方の中から
                            br
                            |100名様に尾道の豪華な商品をプレゼント！
                .how__button.button #見つけて尾道レトロ の最新投稿を見る
                    
