html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots", content="noindex")
        title onomichi
        link(rel="stylesheet", href="./assets/css/reset.css")
        link(rel="stylesheet", href="./assets/css/style.css")

    body
        header 
            .header__inner
                .header__contents 
                    .header__logo 
                        img(src="./assets/img/logo.png", alt="")
                    .header__nav 
        
        .mv 
            .mv__bg 
                img(src="./assets/img/Onomichi.png", alt="")
            .mv__inner
               .mv__contents 
                    .mv__text あなたの見つけたレトロな尾道の一枚を<br>Instagramに投稿しよう
                    .mv__title1
                        img(src="./assets/img/mv_title1.png", alt="")
                    .mv__title2
                        img(src="./assets/img/mv_title2.png", alt="")
                    .mv__content
                        .mv__share 
                            img(src="./assets/img/mv_fukidashi.png", alt="")
                        .mv__present 
                            img(src="./assets/img/present.png", alt="")
                    .mv__smart 
                        img(src="./assets/img/smartphone.png", alt="")
                    .mv__food 
                        img(src="./assets/img/food.png", alt="")
                    .mv__cats 
                        img(src="./assets/img/cats.png", alt="")

        .about
            .about__bd-picture
                .about__picture-left 
                    img(src="./assets/img/about_Left.png", alt="")
                .about__picture-right 
                    img(src="./assets/img/about_Right.png", alt="")
            .about__inner
                .about__contents
                    .about__icon.icon
                        img(src="./assets/img/about_icon.png", alt="")
                    
                    .about__picture1
                        img(src="./assets/img/about1.png", alt="")
                    .about__picture2
                        img(src="./assets/img/about2.png", alt="")
                    .about__title1.title1 About
                    .about__title2.title2 キャンペーンについて
                        
                    .about__text1
                        |あなたの心が動いた尾道の瞬間を
                        br
                        |＼ おしえてください！ ／
                    .about__text2
                        |風情あふれる坂道に、静かに佇むお寺。
                        br
                        |路地裏の角をまがれば
                        br
                        |気ままにお昼寝する猫に出会え、
                        br
                        |ふと振り返れば、美しい瀬戸内の海が。
                        br
                        br
                        |数々の映画の舞台にもなってきたこの街には
                        br
                        |心がほどけるような、
                        br
                        |レトロでやさしい風景が広がっています。
                        br
                        br
                        |あなたの見つけた尾道のなつかしい景色を、
                        br
                        |ぜひおしえてください。
                        br
                        br
                        |尾道観光部（@onomichi_retro）を
                        br
                        |フォロー&尾道で撮影した写真を、
                        br
                        |ハッシュタグ「#見つけて尾道レトロ」を
                        br
                        |つけてInstagramに投稿いただいた方の中から
                    .about__text3 尾道のギフトを100名様にプレゼント！
                    .about__button.button 参加の仕方はこちら
                .about__pictures 
                    .about__arrow 
                        img(src="./assets/img/arrow.png", alt="")
                    .about__sakamichi 
                        img(src="./assets/img/sakamichi.png", alt="")
                    .about__goods 
                        img(src="./assets/img/about_goods.png", alt="")
                    .about__ball 
                        img(src="./assets/img/about_ball.png", alt="")
                    .about__onomichi 
                        img(src="./assets/img/about_onomichi.png", alt="")
                .about__scroll 

        .how 
            .how__inner
                .how__contents
                    .how__icon.icon
                        img(src="./assets/img/how_icon.png", alt="")
                    .how__picture-map 
                        img(src="./assets/img/how_map.png", alt="")
                    .how__picture-cats 
                        img(src="./assets/img/how_cats.png", alt="")
                    .how__title1.title1 How to Enter
                    .how__title2.title2 応募の仕方
                .how__steps 
                    .how__step 
                        .how__step-image
                            img(src="./assets/img/how_step1.png", alt="")
                        .how__step-title アカウントをフォロー
                        .how__step-text 
                            |Instagramアプリをダウンロードして、
                            br
                            |公式アカウント尾道観光部(@onomichi_retro)の
                            br
                            |Instagramのアカウントをフォローしてにゃん。
                        .how__follow 
                            .how__follow-icon 
                                img(src="./assets/img/how_follow.png", alt="")
                            .how__follow-text onomichi_tabi をフォロー
                        .how__step-line 
                            img(src="./assets/img/how_step-line.png", alt="")
                    .how__step 
                        .how__step-image
                            img(src="./assets/img/how_step2.png", alt="")
                        .how__step-title 尾道で撮影
                        .how__step-text
                            |尾道の旅で「レトロ」を感じられる
                            br
                            |写真を撮影してほしいんだにゃ。
                            br
                            |美しい景色、愛らしい猫、美味しい食べ物や
                            br
                            |可愛いお土産など、なんでもOK！
                        .how__step-line 
                            img(src="./assets/img/how_step-line.png", alt="")
                    .how__step 
                        .how__step-image
                            img(src="./assets/img/how_step3.png", alt="")
                        .how__step-title  ハッシュタグをつけて投稿！
                        .how__step-text
                            |ハッシュタグ「＃見つけて尾道レトロ」を
                            br
                            |必ずつけて投稿してにゃん！
                            br
                            |投稿して頂いた方の中から
                            br
                            |100名様に尾道の豪華な商品をプレゼント！
                .how__button.button #見つけて尾道レトロ の最新投稿を見る

        .prizes
            .prizes__inner 
                .prize__contents 
                    .prizes__icon.icon
                        img(src="./assets/img/prizes_icon.png", alt="")
                    .prizes__title1.title1 Prizes
                    .prizes__title2.title2 キャンペーン特典
                    .prizes__text
                        |キャンペーンにご参加いただたい方の中から100名様に、尾道
                        br
                        |で人気のお土産セットやオリジナルグッズをプレゼント！
                    .prizes__cards 
                        .prizes__card 
                            .prize__card-number 
                                img(src="./assets/img/prizes_number1.png", alt="")
                            .prizes__card-image
                                img(src="./assets/img/prizes_sweets.png", alt="")
                            .prizes__card-text
                                |海街洋菓子店
                                br
                                |スイーツセット 
                        .prizes__card 
                            .prize__card-number 
                                img(src="./assets/img/prizes_number2.png", alt="")
                            .prizes__card-image
                                img(src="./assets/img/prizes_manekineko.png", alt="")
                            .prizes__card-text
                                |ねこねこ
                                br
                                |グッズセット  
                        .prizes__card 
                            .prize__card-number 
                                img(src="./assets/img/prizes_number3.png", alt="")
                            .prizes__card-image
                                img(src="./assets/img/prizes_onomichiramen.png", alt="")
                            .prizes__card-text
                                |尾道ラーメンセット 
                        .prizes__card 
                            .prize__card-number 
                                img(src="./assets/img/prizes_number4.png", alt="")
                            .prizes__card-image
                                img(src="./assets/img/prizes_cafe.png", alt="")
                            .prizes__card-text
                                |おうちで
                                br
                                |喫茶店セット 
                        .prizes__card 
                            .prize__card-number 
                                img(src="./assets/img/prizes_number5.png", alt="")
                            .prizes__card-image
                                img(src="./assets/img/prizes_to-to.png", alt="")
                            .prizes__card-text
                                |工房尾道帆布
                                br
                                |オリジナルトート 
                    .prizes__button.button #見つけて尾道レトロ の最新投稿を見る
        .bg_pic
            img(src="./assets/img/bg_pic.png", alt="")
        .wave
            .wave_pic 
                img(src="./assets/img/wave_pic.png", alt="")
        
        .spots 
            .spots__inner
                .spots__contents
                    .spots__head
                        .spots__icon 
                            img(src="./assets/img/spots_icon.png", alt="")
                        .spots__title おすすめスポット
                    .spots__slider 
                    .spots__sub-title 
                        img(src="./assets/img/title_spots.png", alt="")
                    .spots__text レトロな景色に出会える人気の撮影スポットをピックアップ！
                    .spots__button.button #見つけて尾道レトロ の最新投稿を見る

        .under__wave 
            img(src="./assets/img/under_wave.png", alt="")

        .question 
            .question__inner
                .question__contents
                    .question__icon.icon
                        img(src="./assets/img/question_icon.png", alt="")
                    .question__title1.title1 Q&A
                    .question__title2.title2 よくあるご質問
                    .question__items
                        .question__item 
                            .question__item-q
                                .question__item-q-icon
                                    img(src="./assets/img/q.png", alt="")
                                .question__item-q-text ひとりで複数回投稿してもいいですか？
                                .question__item-button
                                    img(src="./assets/img/q_button-.png", alt="")
                            .question__item-a 
                                .question__item-a-icon
                                    img(src="./assets/img/a.png", alt="")
                                .question__item-a-text 期間中であれば何度でも投稿可能ですが、当選は１回限りとなります。
                        .question__item 
                            .question__item-q
                                .question__item-q-icon
                                    img(src="./assets/img/q.png", alt="")
                                .question__item-q-text 過去の尾道旅行の写真でもいいですか？
                                .question__item-button
                                    img(src="./assets/img/q_button+.png", alt="")
                            .question__item-a 
                                .question__item-a-icon
                                    img(src="./assets/img/a.png", alt="")
                                .question__item-a-text  キャンペーン以前の期間に撮影した写真での参加も可能です。ただし、過去のInstagramに投稿済みのものに編集で「#見つけて尾道レトロ」を追加されてもシステム上反映することはできません。ご注意ください。
                        .question__item 
                            .question__item-q
                                .question__item-q-icon
                                    img(src="./assets/img/q.png", alt="")
                                .question__item-q-text お店の中で写真を撮ってもいいですか？
                                .question__item-button
                                    img(src="./assets/img/q_button+.png", alt="")
                            .question__item-a 
                                .question__item-a-icon
                                    img(src="./assets/img/a.png", alt="")
                                .question__item-a-text 店内で撮影した写真での参加も可能ですが、他人のプライバシーを侵害する写真によるご応募は無効です。店内撮影の際は、必ずお店の人へご確認ください。
                        .question__item 
                            .question__item-q
                                .question__item-q-icon
                                    img(src="./assets/img/q.png", alt="")
                                .question__item-q-text 当選したらプレゼントは選べますか？
                                .question__item-button
                                    img(src="./assets/img/q_button+.png", alt="")
                            .question__item-a 
                                .question__item-a-icon
                                    img(src="./assets/img/a.png", alt="")
                                .question__item-a-text 恐れ入りますが、プレゼントをお選びいただくことはできません。また、ご当選者の発表は当選者の方への連絡をもって代えさせていただきます。

        .entry
            .entry__inner 
                .entry__icon.icon
                    img(src="./assets/img/entry_icon.png", alt="")
                .entry__title1.title1 Entry Requirements
                .entry__title2.title2 参加要項
                .entry__contents
                    .entry__content-title キャンペーン名
                    .entry__content-text #見つけて尾道レトロキャンペーン
                    .entry__content-title 応募期間
                    .entry__content-text 2022/8/1(月)〜2022/9/30(金)
                    .entry__content-title 内容
                    .entry__content-text 尾道観光部（@onomichi_retro）をフォロー&尾道で撮影した写真を、ハッシュタグ「#見つけて尾道レトロ」をつけてInstagramに投稿いただいた方の中から100名様に尾道のギフトセットやオリジナルグッズをプレゼント！
                    .entry__content-title 対象のお客様
                    .entry__content-text 日本国内在住で、公式アカウント（@onomichi_retro）をフォローのうえ、ハッシュタグをつけて応募された方
                    .entry__content-title 注意事項
                    ul.entry__content-text
                        .text__dots 当選のご連絡はInstagramダイレクトメールで 行いますので、公式アカウント（@jtb_nihonnoshun）を必ずフォローしてください。
                        .text__dots Instagramの投稿を「非公開」設定にされている場合は、本キャンペーンの応募対象外になりますのでご注意ください。
                        .text__dots ご本人が撮影した写真が対象です。 他人の著作権を侵害する写真、公序良俗に反する写真、他人のプライバシーを侵害する写真によるご応募は無効です。
                        .text__dots 指定のハッシュタグをつけて画像を投稿した時点で肖像権や著作権、その他一切の関連する権利（以下、「肖像権等」といいます）に対する了承がとれているものと見なします。 投稿写真内で確認できる対象物によって肖像権等の第三者の権利侵害があった場合、当社は一切責任を負いません。
                        .text__dots 投稿された写真は＠onomichi_retroにリポスト投稿する場合もあります。
                        .text__dots 発表は当選者の方への連絡をもって代えさせていただきます。
                        .text__dots ご応募は日本国内在住の方に限ります。
                        .text__dots  ご送信いただいた個人情報は当社が当選者への賞品の発送、本キャンペーンに関する諸連絡に利用するほか、商品やサービスの参考とするために個人を特定しない統計情報の形で利用させていただきます。
                        .text__dots 応募者または当選者の個人情報は当社が管理します。応募者または当選者の個人情報を応募者または当選者の同意なしに業務委託先以外の第三者に開示・提供することはありません。（法令等により開示を求められた場合を除く）なお、ご送信いただいた個人情報は当社の個人情報保護方針に基づき安全かつ適切に管理いたします。詳しくは当社ホームページにて、プライバシーポリシーをご確認ください。

        .big__entry 
            img(src="./assets/img/bg_entry.png", alt="")

        .contact 
            .contact__inner
                .contact__contents
                    .contact__icon.icon
                        img(src="./assets/img/contact_icon.png", alt="")
                    .contact__title1.title1 Contact
                    .contact__title2.title2 お問い合わせ
                    .contact__text
                        |本キャンペーンに関するお問い合わせは、
                        br
                        |以下のフォームからお願いします。
                    .contact__items 
                        form.contact__form
                            .contact__fields
                                .contact__field
                                    .form-field
                                    .form-field__head
                                        label.form-field__label(for="your-name") お名前
                                        span.form-field__tag 必須
                                    .form-field__item
                                        input.form-text(type="text" name="your-name" id="your-name" placeholder="田中 おは次郎")
                                .contact__field
                                    .form-field
                                    .form-field__head
                                        label.form-field__label(for="your-email") メールアドレス
                                        span.form-field__tag 必須
                                    .form-field__item
                                        input.form-text(type="email" name="your-email" id="your-email" placeholder="info@oha.com")
                                .contact__field
                                    .form-field
                                    .form-field__head
                                        .form-field__label お問い合わせ項目
                                        span.form-field__tag 必須
                                    .form-field__item
                                        .form-field__radios
                                        label.form-field__radio.form-radio
                                            input.form-radio__input(type="radio" name="your-inquiry")
                                            span.form-radio__text アプリの質問
                                        label.form-field__radio.form-radio
                                            input.form-radio__input(type="radio" name="your-inquiry")
                                            span.form-radio__text 取材の依頼
                                        label.form-field__radio.form-radio
                                            input.form-radio__input(type="radio" name="your-inquiry")
                                            span.form-radio__text その他