.title1 {
    color: var(--LP-Blown, #4A3636);
    text-align: center;
    font-family: Courgette;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */

    margin-top: 6px;
}

.title2 {
    color: var(--LP-Blown, #4A3636);
    text-align: center;
    font-family: "Kiwi Maru";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 25px */
    
    margin-top: 6px;
}

.mv__text {
    color: var(--LP-Blown, #4A3636);
    text-align: center;
    text-shadow: 0px 0px 30px #FFF;
    font-family: "Kiwi Maru";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 17.5px */
}

.how__step-title {
    color: var(--LP-Blown, #4A3636);
    text-align: center;
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
}
.how__step-text {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 12px Regular */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
}

.how__follow-text {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 14px Bold */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
}

.prizes__button {
    color: var(--LP-Blown, #4A3636);
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
}

.spots__title {
    color: var(--LP-White, #FFF);
    text-align: center;
    font-feature-settings: 'pwid' on;
    font-family: "Kiwi Maru";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 35px */
}

.spots__text {
    color: var(--LP-White, #FFF);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 11.444px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 18.311px */
}