@use "../foundation/mixin" as *;
.title1 {
    color: var(--LP-Blown, #4A3636);
    text-align: center;
    font-family: Courgette;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
    margin-top: 6px;
    @include mq(pc){
        font-size: 20px;
        margin-top: 8px;
    }
}

.title2 {
    color: var(--LP-Blown, #4A3636);
    text-align: center;
    font-family: "Kiwi Maru";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 25px */
    display: inline-block; /* ✅ テキスト幅に合わせる */
    border-bottom: 6px solid var(--LP-Yellow, #FFEE56);
    padding-bottom: 6px;
    margin-top: 6px;

    @include mq(pc){
        font-size: 32px;
        margin-top: 8px;
        border-bottom: 8px solid var(--LP-Yellow, #FFEE56);
    }
}

.font-weight {
    font-weight: 700;
}

.tac {
    text-align: center; //左右中央に配置したい場合に親要素として使用します。
}

.header__link {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 12px Regular */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
}

.header__button {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 14px Bold */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
}

.drawer-content__link {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 14px Regular */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}

.drawer-content__button {
    color: var(--LP-Blown, #4A3636);
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
}

.mv__text {
    color: var(--LP-Blown, #4A3636);
    text-align: center;
    text-shadow: 0px 0px 30px #FFF;
    font-family: "Kiwi Maru";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 17.5px */
    @include mq(pc){
        font-size: 24px;
    }
}

.mv__button {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 14px Bold */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
    @include mq(pc){
        font-size: 16px;
    }
}

.about__text1 {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 14px Bold */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
    @include mq(pc){
        font-size: 16px;
    }
}

.about__text2 {
    color: var(--LP-Blown, #4A3636);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%; /* 19.2px */
    @include mq(pc){
        font-size: 16px;
        line-height: 165%; /* 25.6px */
        
    }
}

.about__text2 p.space {
    margin-bottom: 1.5em; /* 空行に相当する余白を設定 */
  }

.about__text3 {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 14px Bold */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
    @include mq(pc){
        font-size: 20px;
        border-bottom: 2px dashed var(--LP-Blue, #9ED0E0);
        padding-bottom: 10px;
    }
}

.about__button {
    color: var(--LP-Blown, #4A3636);
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
    @include mq(pc){
        font-size: 20px;
    }
}

.how__step-title {
    color: var(--LP-Blown, #4A3636);
    text-align: center;
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
    @include mq(pc){
        font-size: 20px;
    }
}
.how__step-text {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 12px Regular */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    @include mq(pc){
        font-size: 16px;
    }
}

.how__follow-text {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 14px Bold */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
    @include mq(pc){
        font-size: 16px;
    }
}

.how__button {
    color: var(--LP-Blown, #4A3636);
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
    @include mq(pc){
        font-size: 20px;
    }
}



.prizes__text {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 12px Regular */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */

    @include mq(pc){
        font-size: 16px;
    }
}

.prizes__card-text {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 12px Bold */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 19.2px */
}

.prizes__button {
    color: var(--LP-Blown, #4A3636);
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */

    @include mq(pc){
        font-size: 20px;
    }
}

.prizes__modal-title {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 20px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 32px */
    @include mq(pc){
        font-size: 20px;
    }
}


.prizes__modal-text {
    color: #000;
    
    /* JP/Text 16px Regular */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    @include mq(pc){
        font-size: 16px;
    }
}

.prizes__modal-button {
    color: var(--LP-Blown, #4A3636);
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
}

.spots__title {
    color: var(--LP-White, #FFF);
    text-align: center;
    font-feature-settings: 'pwid' on;
    font-family: "Kiwi Maru";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 35px */

    @include mq(pc){
        font-size: 40px;
        line-height: normal; // ✅ 縦書きでは `line-height` を無効化
        letter-spacing: 10px; // ✅ 文字の間隔を `letter-spacing` で調整
    }
}

.spots__text {
    color: var(--LP-White, #FFF);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 11.444px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 18.311px */
    @include mq(pc){
        font-size: 16px;
    }
}

.spots-card__title {
    color: var(--LP-Blown, #4A3636);
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */

    @include mq(pc){
        font-size: 20px;
    }
}

.spots-card__text {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 12px Regular */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */

    @include mq(pc){
        font-size: 16px;
    }
}

.spots__button {
    color: var(--LP-Blown, #4A3636);
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
    @include mq(pc){
        font-size: 20px;
        font-weight: 700;
    }
}

.question__item-q-text {
    color: var(--LP-Blown, #4A3636);
    font-family: "Noto Sans JP";
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%; /* 32px */
    
    @include mq(pc){
        font-size: 20px;
    }

}

.question__item-a-text {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 14px Regular */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    @include mq(pc){
        font-size: 16px;
    }
}

.entry__content {
   

}

.entry__content-title {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 14px Bold */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */

    @include mq(pc){
        font-size: 16px;
    }

    &::before {
        content:  "";     /* 空の要素作成 */
        width:  8px;               /* 幅指定 */
        height:  8px;              /* 高さ指定 */
        display:  inline-block;     /* インラインブロックにする */
        background-color: #9ED0E0;  /* 背景色指定 */
        border-radius:  50%;        /* 要素を丸くする */
        margin-right: 8px;
        margin-left: -6px;
        @include mq(pc){
            width:  10px;               /* 幅指定 */
            height:  10px; 
        }
    }
}

.entry__content-text {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 12px Regular */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */

    @include mq(pc){
        font-size: 16px;
    }
}

.entry__content-text ul {
    list-style-type: disc !important;
}

.underline {
    color: var(--LP-Blown, #4A3636);
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    @include mq(pc){
        font-size: 16px;
    }
}

  

.text__dots {
    display: flex;  /* 疑似要素とテキストを横並びにする */
    align-items: flex-start; /* 上揃えにする */
    gap: 4px; /* 疑似要素とテキストの間隔を設定 */
    margin-left: 7px;
    line-height: 1.6;
    @include mq(pc){
        margin-left: 10px;
        margin-top: -1px;
    }
    &::before {
        content:  "";     /* 空の要素作成 */
        width:  3px;               /* 幅指定 */
        height:  3px;              /* 高さ指定 */
        display:  inline-block;     /* インラインブロックにする */
        background-color: #000;  /* 背景色指定 */
        border-radius:  50%;        /* 要素を丸くする */
        position: relative;
        margin-right: 4px;
        flex-shrink: 0; /* 丸が縮まないようにする */
        margin-top: 10px;
        @include mq(pc){
            width:  4px;               /* 幅指定 */
            height:  4px;              /* 高さ指定 */
        }
    }
}

.contact__text {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 12px Regular */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    @include mq(pc){
        font-size: 16px;
    }
}

input.form-text::placeholder {
    font-size: 14px;
}

.form-field__label {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 14px Bold */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
}

.form-field__tag {
    /* JP/Text 12px Bold */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 19.2px */
}

.form-radio__text {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 14px Regular */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}

.form-textarea::placeholder {
    color: var(--LP-Dark-Gray, #CCC);

    /* JP/Text 14px Regular */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}

.form-checkbox__text {
    color: var(--LP-Blown, #4A3636);
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.form-checkbox__text a {
    text-decoration: underline;
}

.contact__button {
    color: var(--LP-Blown, #4A3636);
    font-feature-settings: 'pref' on;

    /* JP/Text 16px Bold */
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
}

.follow__title {
    color: var(--LP-Blown, #4A3636);

    /* En/Josefin Sans-20px */
    font-family: "Josefin Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */

    @include mq(pc){
        font-size: 24px;
    }
}

.follow__access-title {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 12px Bold */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 19.2px */
    white-space: nowrap;
    @include mq(pc){
        font-size: 16px;
    }

    &::before {
        content:  "";     /* 空の要素作成 */
        width:  8px;               /* 幅指定 */
        height:  8px;              /* 高さ指定 */
        display:  inline-block;     /* インラインブロックにする */
        background-color: #9ED0E0;  /* 背景色指定 */
        border-radius:  50%;        /* 要素を丸くする */
        margin-right: 8px;
    }
}

.follow__access-text {
    color: var(--LP-Blown, #4A3636);

    /* JP/Text 12px Regular */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    white-space: nowrap;

    @include mq(pc){
        font-size: 16px;
    }
}

.footer__copyright {
    color: var(--LP-White, #FFF);
    font-family: "Noto Sans JP";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 16px */

    @include mq(pc){
        font-size: 14px;
    }
}