@use "../foundation/mixin" as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header__inner {
    padding-inline: 20px;
    display: flex;
    align-items: center;
    height: 64px;
    @include mq(pc){
        justify-content: space-between;
    }
}

.header__logo {
    @include mq(pc){
        margin-top: 4px;
        margin-left: 4px;
    }
}

.header__nav {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-right: 5px;
}

.header__button {
    margin-left: 3px;

    padding: 6px 24px;
    width: 132px;
    white-space: nowrap;
}