@use "../foundation/mixin" as *;






.drawer-icon {
    right: 5px;
    top: 1px;
    width: 32px;
    height: 24px;
    position: relative;
    z-index: 51;
    
    &.is-checked {
        .drawer-icon__bars {
            display: none;
        }
        .drawer-icon__bar:nth-of-type(1) {
            top: 12px;
            transform: rotate(45deg);
        }
        .drawer-icon__bar:nth-of-type(2) {
            top: 12px;
            transform: rotate(-45deg);
        }
    }
}
.drawer-icon__bars {
    display: flex;
    gap: 1.6px;
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 0px;
    // transition: transform 0.3s linear, top 0.3s linear;
}

.drawer-icon__bar {
    position: absolute;
    left: 0px;
    transition: transform 0.3s linear, top 0.3s linear;
  
    &:nth-of-type(1) {
      top: 12px;
    }
  
    &:nth-of-type(2) {
      top: 24px;
    }
}

.drawer-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    transform: translateY(-100%);
    transition: transform 0.3s linear;

    &.is-checked {
        transform: translateY(0);
    }
}

.drawer-content__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 84px 50px;
}

.mv {
    margin-top: 59px;
}

.mv__bg {
    margin-top: 4px;
}

.mv__bg-pc {
    width: 100%;
    top: 63px;
    height: 81%;
}


.mv__inner {
    padding-inline: 20px;
    padding-top: 22px;
    @include mq(pc){
        padding-top: 35px;
    }
}

.mv__contents {
    position: relative;
   @include mq(pc){
    margin-top: 4px;
    margin-left: 15px;
   }
}

.mv__title1 {
    text-align: center;
    margin-top: 20px;
    @include mq(pc){
        margin-top: 24px;
    }
}

.mv__title2 {
    margin-top: 12px;
    text-align: center;
    @include mq(pc){
        margin-top: 16px;
    }
}

.mv__content {
    display: flex;
    justify-content: flex-start;
    gap: 58px;
    margin-top: 10px;
    @include mq(pc){
        position: relative;
    }
}

.mv__share  {
    margin-top: 7px;
    @include mq(pc){
        position: absolute;
        top: -15px;
        left: 334px;
        z-index: 40;
    }
}

.mv__present {
    @include mq(pc){
        position: absolute;
        top: 7px;
        right: 424px;
        z-index: 1;
    }
}

.mv__smart {
    text-align: center;
    margin-top: -7px;
    @include mq(pc){
        margin-top: 24px;
        position: relative; // ← 追加
        z-index: 30;
    }
}

.mv__button {
    position: absolute;
    z-index: 30;
    top: 498px;
    left: 100px;
    @include mq(pc){
        top: 556px;
        left: 638px;
    }
}

.mv__food {
    position: absolute;
    top: 552px;
    left: 2px;
    @include mq(pc){
        top: 469px;
        left: 305px;
    }
}

.mv__cats {
    position: absolute;
    top: 565px;
    right: 0;
    @include mq(pc){
        top: 551px;
        right: 296px;
    }
}

.about {
    margin-top: 44px;
    overflow: hidden;

    position: relative;
    @include mq(pc){
        margin-top: 16px;
    }
}

.about__inner {
    position: relative;
    z-index: 1;
}
  

.about__bd-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
    z-index: 0; // 背景レイヤー
    pointer-events: none;
}

.about__picture-naname {
    position: absolute;
    top: 960px;
    left: -21px;
}

.about__picture-left {
    position: absolute;
    left: -140px;
    top: 395px;
    @include mq(pc){
        top: 154px;
        left: -338px;
    }
}

.about__picture-right {
    position: absolute;
    right: -140px;
    top: 273px;
    @include mq(pc){
        top: 153px;
        right: -298px;
    }
}

.about_foot {
    position: absolute;
    right: 152px;
}
.about__inner {
    padding-inline: 20px;
}

.about__contents {
    padding: 40px 12px;
    position: relative;
    @include mq(pc){
        left: 7px;
        margin-top: 80px;
        padding: 40px 114px;
        max-width: 848px;
        margin: auto; // ✅ ブロック要素を中央寄せ
    }
}

.about__icon  {
    text-align: center;
}

.about__pictures {
    
}

.about__picture1 {
    position: absolute;
    top: 37px;
    left: 36px;
    @include mq(pc){
        top: 42px;
        left: 87px;
    }
}

.about__picture2 {
    position: absolute;
    top: 38px;
    right: 36px;
    @include mq(pc){
        right: 99px;
        top: 55px;
    }
}


.about__text1 {
    margin-top: 24px;
    @include mq(pc){
        margin-top: 35px;
    }
}

.about__text2 {
    margin-top: 24px;
    @include mq(pc){
        margin-top: 32px;
    }
}

.about__text3 {
    margin-top: 32px;
    @include mq(pc){
        margin-top: 46px;
    }
}

.about__button {
    display: block;
    margin: auto;
    margin-top: 32px;
    @include mq(pc){
        
       
        margin-top: 32px;
    }
}

.about__pictures {
    position: relative;
}

.about__arrow  {
   text-align: center;
   @include mq(pc){
    margin-left: 10px;
   }
}

.about__sakamichi {
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 1;
    @include mq(pc){
        left: -122px;
        top: -507px;
    }
}

.about__goods {
    position: absolute;
    top: 54px;
    right: 37px;
    @include mq(pc){
        right: 39px;
        top: -72px;
    }
}

.about__ball {
    position: absolute;
    top: 12px;
    right: 1px;
    @include mq(pc){
        right: 115px;
        top: -229px;
        z-index: 10;
    }
}

.about__onomichi {
    position: relative;
    text-align: center;
    margin-top: 100px;
    left: -9px;
    z-index: 100;

    @include mq(pc){
        left: 3px;
        margin-top: 115px;
    }
}

.about__wavy1 {
    position: absolute;
    right: -600px;
    top: -223px;
    z-index: 1;
}

.about__wavy2 {
    position: absolute;
    right: -532px;
    top: -190px;
    z-index: 1;
}

.about__scroll {
    margin-top: 3px;
    @include mq(pc){
        margin-top: -5px;
    }
}



.how {
    margin-top: 64px;
    overflow-x: hidden;
    @include mq(pc){
        // margin-top: 120px;
        margin-top: 0;
        margin-left: 13px;
        padding-top: 120px;
        margin-bottom: 5px;
    }
}

.how__inner {
    padding-inline: 20px;
    @include mq(pc){
        padding-inline: 36px;
        margin-bottom: 5px;
    }
}

.how__contents {
    position: relative;
}

.how__icon {
    text-align: center;
}

.how__picture-map {
    position: absolute;
    top: 0;
    left: -20px;
    @include mq(pc){
        z-index: 5;
        left: -14px;
        top: -58px;
    }
}

.how__picture-cats {
    position: absolute;
    top: 0;
    right: -51px;
    @include mq(pc){
        right: -14px;
    }
}

.how__picture-cats-pc {
    position: absolute;
    right: -14px;
    top: -26px;
}

.how__cats-foot1 {
    position: absolute;
    left: 0;
    top: 550px;
}
.how__cats-foot2 {
    position: absolute;
    right: 0;
    top: 880px;
}

.how__title2 {
    margin-top: 7px;
}

.how__steps {
    padding-top: 32px;
    @include mq(pc){
        margin-top: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        gap: 36px;
        z-index: 10;
        margin-left: -6px;
        overflow: visible; // ←親のこの指定も確認！
    }
}

.step-2 {
    @include mq(pc){
        margin-top: 68px;
        transform: translateX(20px);
    }
}

.how__steps .how__step:nth-child(3) {
    @include mq(pc){
        transform: translateX(25px); // ←調整値はお好みで
    }
  }
  

.how__step-image {
    text-align: center;
}

.how__step-title {
    margin-top: 16px;
    @include mq(pc){
        margin-top: 26px;
    }
}

.how__step-text {
    margin-top: 16px;
}

.how__follow {
    margin: auto;
    margin-top: 16px;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 8px 12px;
    background: var(--LP-White, #FFF);
    width: 240px;
    @include mq(pc){
        width: 250px;
        white-space: nowrap;
        margin-top: 18px;
    }
}

.how__step-line {
    text-align: center;
    margin-top: 16px;
}

.how__step-line-pc1 {
    left: 455px;
    position: absolute;
    top: 237px;
}

.how__step-line-pc2 {
    position: absolute;
    right: -63px;
    top: 137px;
}

.how__button {
    position: relative;
    z-index: 2; // ← .bg_pic より上に来るように
    margin-top: 14px;
    margin-bottom: 10px;
    @include mq(pc){
        margin-top: 49px;
        text-align: center;
        margin: auto;
    }
}

.how__cats-step {
    left: 36px;
    position: absolute;
    top: 2968px;
   
}

.prizes {
    margin-top: 26px;
    @include mq(pc){
        margin-left: 15px;
        margin-top: 120px;
        text-align: center;
    }
}

.prizes__bg {
    position: relative;
}

.prizes__bg-left {
    position: absolute;
    top: 28px;
    left: 230px;
}

.prizes__bg-right {
    position: absolute;
    top: 28px;
    right: 230px;
}

.prizes__inner {
    @include mq(pc){
        margin: auto;
    }
}

.prizes__head {
    position: relative;
    z-index: 2; // ✅ 背景より上に来るように
    margin: auto;
    padding-top: 20px;
    width: 237.6px;
    height: 83px;
    background-image: url("../img/prizes_head-sp.png"); // ✅ SPではアイコンとタイトル部分のみに背景適用
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @include mq(pc) {
        padding-top: 28px;
        width: 365.624px;
        height: 148.967px;
        background-image: url("../img/prizes_head-pc.png"); // ✅ PCでは `.prizes__head` 全体に適用
        background-position: center;
        background-size: cover;
    }
}

.prizes__title2 {
    margin-top: 7px;
    @include mq(pc){
       padding-bottom: 9px;
    }
}

.prize__contents {
    position: relative;
    z-index: 1; // ✅ 背景より上に来るように
    padding-top: 60px;
    padding-inline: 20px;
    padding-bottom: 36px;
    @include mq(pc){
        padding-inline: 56px;
        padding-bottom: 53px;
        margin: auto;
    }
}

.prizes__text {
    @include mq(pc){
        margin-top: 6px;
    }
}

.prizes__icon {
    text-align: center;
}

.prizes__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* スマホ時は2列 */
    gap: 10px;
    margin-top: 24px;

    @include mq(pc){
        gap: 27px;
        margin-top: 55px;
        grid-template-columns: repeat(6, 1fr); /* 6分割にする（2:3の比率を作るため） */
        
        /* 1,2番目のカード（上段）は 3/6 = 50% にする */
        .prizes__card:nth-child(1) {
            grid-column: span 3;
        }
        .prizes__card:nth-child(2) {
            grid-column: span 3;
        }

        /* 3,4,5番目のカード（下段）は 2/6 = 1/3 にする */
        .prizes__card:nth-child(3) {
            grid-column: span 2;
            margin-top: 48px;
        }
        .prizes__card:nth-child(4) {
            grid-column: span 2;
            margin-top: 48px;
        }
        .prizes__card:nth-child(5) {
            grid-column: span 2;
            margin-top: 48px;
        }
    }
}

.prizes__card {
    position: relative;
    margin-top: 24px;
    border: 2px solid transparent; // ✅ 初期状態は枠なし
    transition: border 0.3s ease; // ✅ なめらかに枠を表示
    border-radius: 9px;
    @include mq(pc){
        border-radius: 26px;
    }


    &:hover {
        border-color:#9ED0E0; // ✅ 水色の枠を表示
        .prizes__card-image {
            overflow: hidden;
            img {
                transform: scale(1.2);
                border-radius: 8px;
                transition: transform 0.3s ease; // ✅ なめらかに拡大
                @include mq(pc){
                    border-radius: 24px;
                }
            }
        }
    }
    &:nth-child(5) { /* 5番目のカード */
        grid-column: span 2; /* ✅ 1行にして中央配置 */
        justify-self: center; /* ✅ 左右中央揃え */
    }

}

.prizes__card-image-wrapper {
    border-radius:8px 8px 0 0;
    overflow: hidden; // ✅ はみ出しを隠す
    @include mq(pc){
        border-radius:24px 24px 0 0;
    }
}


.prize__card-number  {
    position: absolute;
    left: 54px;
    top: -26px;
    z-index: 51;
    @include mq(pc){
        left: 38%;
        top: -11%;
    }
}

.prizes__card-text {
    margin-top: 0;
    svg {
        position: absolute; /* 絶対配置 */
        right: 0; /* 右寄せ */
        bottom: 0; /* 下寄せ */
        border-radius: 0 0 8px 0; /* 丸みを付ける */
        @include mq(pc){
            border-radius: 0 0 24px 0; /* 丸みを付ける */
             /* 1,2番目のカードは 100px */
            
        }
        /* 1,2番目のカードは 100px */
        .prizes__card:nth-child(1) &,
        .prizes__card:nth-child(2) & {
            width: 36px;
            height: 36px;
            @include mq(pc){
                width: 100px;
                height: 100px;
            }
        }

        /* 3,4,5番目のカードは 64px */
        .prizes__card:nth-child(3) &,
        .prizes__card:nth-child(4) &,
        .prizes__card:nth-child(5) & {
            width: 36px;
            height: 36px;
            @include mq(pc){
                width: 64px;
                height: 64px;
            }
        }
    }
    
}

// 3〜5番目の .prizes__card-text にだけ高さ指定
.prizes__card:nth-child(3) .prizes__card-text,
.prizes__card:nth-child(4) .prizes__card-text,
.prizes__card:nth-child(5) .prizes__card-text {
    @include mq(pc){
        height: 82px; // ← 任意の高さに変更
        font-size: 16px; // ← フォントサイズも調整
    }
}


.prizes__button {
    margin-top: 15px;
    margin: auto;
    text-align: center;
    padding: 6px 24px;
    white-space: nowrap;
    @include mq(pc){
        margin-top: 37px;
        transform: translateX(-1px);
    }
}

.prizes__modal {
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 0;
    border: none;
    &::backdrop {
        opacity: 0.5;
        background: #000;
    }
}

.prizes__modal-texts {
    text-align: center;
    padding-top: 39px;
    @include mq(pc){
        padding-top: 32px;
    }
}

.prizes__modal-button {
    margin: auto;
    margin-top: 16px;
    @include mq(pc){
        margin-top: 24px;
    }
}

.bg {
    background-image: url('../img/bg_pic.png'); // ← 背景画像として設定
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; // または contain / 100% auto など
    height: 260px;
    transform: translateY(-48px); // ← 位置調整
    @include mq(pc){
        height: 640px;
        transform: translateX(6px);
    }
}

.wave {
    position: relative;
    margin-top: -47px;
    transform: translateX(3px); // ← 位置調整
  @include mq(pc){
    margin-top: -120px;
    background-image: url('../img/wave_pc-top.png'); // ← 繰り返したい画像を指定
    background-repeat: repeat-x; // ← 横方向にリピート
    background-position: top center; // ← 必要なら位置指定
    background-size: contain; // または contain／100% auto など適宜調整
    height: 120px;
    width: calc(100% + 276px); // 138px × 2（両側に余白を足す）
    margin-left: -9px; // 左側にズラして真ん中を合わせる
    }
  }

.spots {
    overflow: hidden;
}

.spots__inner {
    // padding-inline: 20px;
    padding-bottom: 20px;
    position: relative;
    
}

.spots__contents {
    @include mq(pc){
        display: flex;
        gap: 18px;
        align-items: flex-start; // ← これ追加！
        // margin-left: -29px;
    }
}

.spots__head {
    display: flex;
    justify-content: center;
    gap: 8px;
    @include mq(pc){
        flex-direction: column;
        align-items: flex-start;
        margin-left: 241px;
        margin-top: -3px;
    }
}

.spots__icon {
    margin-top: 4px;
}

.spots__title {
    margin-top: 2px;
    @include mq(pc){
        writing-mode: vertical-rl; // ✅ 右から左の縦書き
        text-orientation: upright; // ✅ 文字の向きを正しくする（ひらがな・カタカナが横倒しにならない）
        margin: 0 auto; // ✅ 中央揃え
        margin-top: 7px;
    }
}

.spots__text {
    margin-top: 16px;
    @include mq(pc){
        margin-top: 5px;
    }
}

.spots__slider {
    margin-top: 23px;
    @include mq(pc){
        margin-top: 0;
    }
}



.spots__slide  {
    margin: 0 8px;
    @include mq(pc){
        margin: 0 16px;
    }
}


.spots-card {
    @include mq(pc){
        margin-left: 0;
        margin-bottom: 20px;
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}



.spots-card__title {
    padding-top: 16px;
    text-align: center;
    @include mq(pc){
        padding-top: 24px;
    }
}

.spots-card__text {
    margin-top: 16px;
    padding-inline: 24px;
    @include mq(pc){
        margin-top: 24px;
        padding-inline: 30px;
    }
}

.spots__pagination {
    @include mq(pc){
        display: none;
    }
}

.spots_foot {
    position: absolute;
    left: 36px;
    bottom: 18px;

}

.spots__sub {
    padding-inline: 20px;
    @include mq(pc){
        padding-inline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        gap: 81px;
    }
}

.spots__sub-title {
    text-align: center;
    @include mq(pc){
        margin-left: 13px;
        margin-top: 4px;
    }
}


.spots__button {
    margin-top: 23px;
    margin: auto;
    text-align: center;
    padding: 6px 24px;
    white-space: nowrap;
    @include mq(pc){
        margin-top: 23px;
        margin-left: 11px;
    }
}

.spots__slider {
    // margin-inline: -20px; // ← 親のpaddingと相殺
    @include mq(pc) {
      position: relative;
      
    }
  }
  

.spots__button-prev,
.spots__button-next {
    display: none;
    @include mq(pc){
        display: block;
        top: auto !important; // ← Swiperのデフォルトを無効にする
    }

}

.spots__button-prev {
    
    position: absolute;
    bottom: -4px; // ⬅ 高さを一番下に
    left: -32px;   // ⬅ 左端（必要なら margin-left で微調整）
    z-index: 10;
    
  }

.spots__button-next {
    position: absolute;
    bottom: -4px; // ⬅ 高さを同じく一番下に
    left: 832px; // ⬅ 左から800pxの位置に配置（prev基準）
    z-index: 10;
}

.under__wave {
    position: relative;
    top: -1px;
    img {
        width: 375px;
        height: 45px;
    }
}

.under__wave-pc {
    background-image: url('../img/wave_pc-bottom.png'); // ← 繰り返したい画像を指定
    background-repeat: repeat-x; // ← 横方向にリピート
    background-position: top center; // ← 必要なら位置指定
    background-size: contain; // または contain／100% auto など適宜調整
    height: 120px;
    width: calc(100% + 276px); // 138px × 2（両側に余白を足す）
    margin-top: -17px; // 上側にズラして真ん中を合わせる
    margin-left: -10px; // 左側にズラして真ん中を合わせる
}

.question {
    margin-top: 40px;
    @include mq(pc){
        margin-left: 16px;
        margin-top: 120px;
    }
}

.question__inner {
    padding-inline: 20px;
    margin-bottom: 32px;
    @include mq(pc){
        padding-inline: 229px;
    }
}

.question__icon {
    text-align: center;
}

.question__items {
    margin-top: 24px;
    @include mq(pc){
        margin-top: 42px;
    }
}

.question__item {
    overflow: hidden;
    margin-top: 12px;
    border-radius: 12px;
    border: 2px solid var(--LP-Blown, #4A3636);

    @include mq(pc){
        margin-top: 24px;
        border-radius: 16px;
    }
}

.question__item-q {
    display: flex;
    padding: 11px 16px;
    gap: 12px;
    align-items: center;
    @include mq(pc){
        gap: 15px;
        padding: 21px 24px;
    }
}

.question__item-q-text {
    display: block;
    margin-top: -2px;
    margin-left: 1px;
    flex: 1;
    text-align: left;
}

.question__item-q-icon {
    margin-top: -9px;
    margin-left: -1px;
}




.question__item-a {
    display: none; /* ✅ 初期状態では非表示 */
    padding: 13px;
    align-items: center;
    gap: 18px;
    flex-direction: row; /* ✅ 横並びにする */
    @include mq(pc){
        gap: 19px;
        padding: 27px 24px;
    }

    &.is-open {
        display: flex; /* ✅ 開いたときは `display: flex;` を適用 */
    }
}

.question__item-a-icon {
    padding-bottom: 4px;
    @include mq(pc){
       margin-left: -3px;
    }
}

.question__item-a-text {
    padding: 1px 0;
    margin-top: 2px;
}

.question__item-button {
    margin-left: 0px;
    
}



.entry {
    margin-top: -3px;
    padding-inline: 20px;
    @include mq(pc){
        margin-top: 116px;
        padding-inline: 230px;
        margin-left: 13px;
    }
}

.entry__inner {
    padding-top: 16px;
    padding-inline: 20px;
    border: 8px solid var(--LP-White, #FFF);
    background: rgba(255, 255, 255, 0.50);

    @include mq(pc){
        padding-top: 33px;
        padding-bottom: 40px;
        padding-inline: 56px;
    }
}

.entry__icon {
    text-align: center;
}

.entry__contents {
    margin-top: 24px;
    @include mq(pc){
        margin-top: 43px;
    }
}

.entry__content {
    margin-bottom: 11px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCCCCC; 
    @include mq(pc){
        display: flex;
        padding-bottom: 10px;
        margin-bottom: 13px;
        border-bottom: 1px solid var(--LP-Dark-Gray, #CCC);

        &:last-child {
            border-bottom: none;
        }
        
    }
}

.entry__content:nth-of-type(5) {
    border-bottom: none;
}

.entry__content-title {


    @include mq(pc){
        width: 240px;
        margin-left: 13px;
    }
}

.entry__content-text {
    margin-left: -4px;
    margin-right: -4px;
    margin-top: 8px;
    @include mq(pc){
        width: 672px;
        margin-top: 0;
        margin-left: -18px;
    }
}

.big__entry {
    margin-top: 32px;
    @include mq(pc){
        transform: translateX(7px);
    }
}

.contact {
    max-width: 100%;
    overflow-x: hidden;
}

input,
select,
textarea,
button {
  max-width: 100%;
  box-sizing: border-box;
}



.contact__icon {
    text-align: center;
}

.contact__inner {
    padding-inline: 20px;
    padding-top: 40px;
    padding-bottom: 29px;
    @include mq(pc){
        margin-left: 13px;
        padding-top: 120px;
        padding-inline: 320px;
        padding-bottom: 103px;
    }
}

.contact__text {
    margin-top: 24px;
    text-align: center;
    @include mq(pc){
        margin-top: 35px;
    }
}

.contact__fields {
    @include mq(pc){
        margin-top: 33px;
    }
}

.contact__field {
    margin-top: 25px;
    @include mq(pc){
        display: flex;
        margin-top: 17px;
    }
}


.form-field__head {
    display: flex;
    gap: 12px;
    @include mq(pc){
        margin-top: 23px;
        width: 220px;
    }
}

.form-field__tag {
    margin-top: -2px;
}

.form-field__item {
    margin-top: 8px;
    @include mq(pc){
        width: 628px;
    }
}

.form-field__radios {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    @include mq(pc){
        margin-top: 14px;
    }
}

.form-textarea {
    @include mq(pc){
        margin-top: 16px;
    }
}

.contact__privacy {
    display: flex;
    margin-top: 24px;
    text-align: center;
    justify-content: center;
    @include mq(pc){
        margin-top: 38px;
    }
}

.contact__button-wrapper {
    text-align: center;
}
  

.contact__button {
    margin-top: 25px;
    margin: auto;

    @include mq(pc){
        margin-top: 39px;
    }
}

.follow__inner {
    padding-inline: 20px;
    padding-top: 40px;
    @include mq(pc){
        text-align: center;
        padding: 80px;
    }
}

.follow__title {
    text-align: center;
    margin-top: -2px;
    @include mq(pc){
        margin-top: 40px;
        margin-left: 14px;
    }
}

.follow__sns {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 24px;
    @include mq(pc){
        margin-left: 12px;
    }
}

.follow__onomichi {
    margin-top: 13px;
}

.follow__onomichi-pc {
    margin-top: 40px;
    margin-left: 14px;
}

.follow__contents {
    margin-top: -2px;
    @include mq(pc){
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-left: 16px;
    }
}

.follow__logo {
    text-align: center;
    margin-top: -1px;
    margin-bottom: 30px;
    @include mq(pc){
        text-align: left;
        margin-top: -1px;
        margin-left: 2px;
        margin-bottom: 25px;
    }
}

.follow__accesses {
    padding: 24px 24px 28px 24px;
    @include mq(pc){
        padding-top: 106px;
        padding-bottom: 106px;
        padding-inline: 58px;
    }
}

.follow__access {
    margin-top: 8px;
    margin-left: 3px;
    display: flex;
    align-items: center;

    @include mq(pc){
        margin-top: 12px;
    }
}

.follow__access-title {
    @include mq(pc){
        text-align: left;
    }
}

.page__top {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    @include mq(pc){
        position: fixed;
        right: 16px;
        bottom: 30px;
        width: 76px;
    }
    &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

.footer {
    overflow: hidden;
    @include mq(pc){
        margin-top: 40px;
    }
}

.footer__image-pc {
    

    background-image: url('../img/wave_pc-top.png'); // ← 繰り返したい画像を指定
    background-repeat: repeat-x; // ← 横方向にリピート
    background-position: top center; // ← 必要なら位置指定
    background-size: contain; // または contain／100% auto など適宜調整
    height: 120px;
    width: calc(100% + 276px); // 138px × 2（両側に余白を足す）
    margin-left: -9px; // 左側にズラして真ん中を合わせる
}

.footer__copyright {
    padding-bottom: 24px;
    @include mq(pc){
        margin-left: 14px;
    }
}