@use "../foundation/mixin" as *;

.mv__inner {
    padding-inline: 20px;
    padding-top: 17px;
}

.mv__contents {
    position: relative;
}

.mv__text {
   
}

.mv__title1 {
    margin-top: 20px;
}

.mv__title2 {
    margin-top: 12px;
    text-align: center;
}

.mv__content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 58px;
}

.mv__share  {
    margin-top: 7px;
}

.mv__smart {
    text-align: center;
    top: -7px;
}

.mv__food {
    position: absolute;
    top: 569px;
}

.mv__cats {
    position: absolute;
    top: 583px;
    right: 0;
}

.about {
    margin-top: 43px;
    z-index: 50;
}

.about__inner {
    padding-inline: 20px;
}

.about__contents {
    padding: 40px 12px;
    position: relative;
    z-index: 49;
}

.about__icon  {
    text-align: center;
}

.about__pictures {
    
}

.about__picture1 {
    position: absolute;
    top: 38px;
    left: 36px;
}

.about__picture2 {
    position: absolute;
    top: 38px;
    right: 36px;
}

.about__picture-left {
    position: absolute;
    left: -160px;
    top: 395px;
    z-index: 1;
}

.about__picture-right {
    position: absolute;
    right: -160px;
    top: 273px;
    z-index: 1;
}

.about__title1 {
    margin-top: 6px;
}

.about__title2 {
    margin-top: 6px;
}

.about__text1 {
    margin-top: 24px;
}

.about__text2 {
    margin-top: 24px;
}

.about__text3 {
    margin-top: 32px;
}

.about__button {
    margin-top: 24px;
}
