@use "../foundation/mixin" as *;

.mv__inner {
    padding-inline: 20px;
    padding-top: 17px;
}

.mv__contents {
    position: relative;
}

.mv__text {
   
}

.mv__title1 {
    margin-top: 20px;
}

.mv__title2 {
    margin-top: 12px;
    text-align: center;
}

.mv__content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 58px;
}

.mv__share  {
    margin-top: 7px;
}

.mv__smart {
    text-align: center;
    top: -7px;
}

.mv__food {
    position: absolute;
    top: 569px;
}

.mv__cats {
    position: absolute;
    top: 583px;
    right: 0;
}

.about {
    margin-top: 43px;
    
}

.about__inner {
    padding-inline: 20px;
}

.about__contents {
    padding: 40px 12px;
    position: relative;
    
}

.about__icon  {
    text-align: center;
}

.about__pictures {
    
}

.about__picture1 {
    position: absolute;
    top: 38px;
    left: 36px;
}

.about__picture2 {
    position: absolute;
    top: 38px;
    right: 36px;
}

.about__picture-left {
    position: absolute;
    left: -160px;
    top: 395px;
    
}

.about__picture-right {
    position: absolute;
    right: -160px;
    top: 273px;
    
}

.about__text1 {
    margin-top: 24px;
}

.about__text2 {
    margin-top: 24px;
}

.about__text3 {
    margin-top: 32px;
}

.about__button {
    margin-top: 24px;
}

.about__pictures {
    position: relative;
}

.about__arrow  {
   text-align: center;
}

.about__sakamichi {
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 1;
}

.about__goods {
    position: absolute;
    top: 54px;
    right: 37px;
}

.about__ball {
    position: absolute;
    top: 12px;
    right: 1px;
}

.about__onomichi {
    text-align: center;
    margin-top: 140px;
    z-index: 100;
}

.how {
    margin-top: 32px;
}

.how__inner {
    padding-inline: 20px;
}

.how__contents {
    position: relative;
}

.how__icon {
    text-align: center;
}

.how__picture-map {
    position: absolute;
    top: 0;
    left: -20px;
}

.how__picture-cats {
    position: absolute;
    top: 0;
    right: -51px;
}

.how__steps {
    padding-top: 32px;
}


.how__step-image {
    text-align: center;
}

.how__step-title {
    margin-top: 16px;
}

.how__step-text {
    margin-top: 16px;
}

.how__follow {
    margin: auto;
    margin-top: 16px;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 8px 12px;
    background: var(--LP-White, #FFF);
    width: 240px;
}

.how__step-line {
    text-align: center;
    margin-top: 16px;
}

.how__button {
    margin-top: 16px;
}

.prizes {
    margin-top: 32px;
}

.prizes__inner  {
    padding-inline: 20px;
}

.prize__contents {

}

.prizes__icon {
    text-align: center;
}

.prizes__text {
    margin-top: 16px;
}

.prizes__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2列（50%ずつ） */
    gap: 15px; /* カード間の余白 */
    margin-top: 24px;
}

.prizes__card {
    position: relative;
    margin-top: 24px;
    &:nth-child(5) { /* 5番目のカード */
        grid-column: span 2; /* ✅ 1行にして中央配置 */
        justify-self: center; /* ✅ 左右中央揃え */
    }
}

.prize__card-number  {
    position: absolute;
    left: 56px;
    top: -24px;
}



