@use "../foundation/mixin" as *;

body {
    background: var(--LP-Light-Blue, #E9F6F8);
}

header {
    background: var(--LP-White, #FFF);
}

.about__contents {
    border-radius: 24px;
    background: var(--LP-White, #FFF);
}

.prizes__inner {
    background: var(--LP-White, #FFF);
    border-radius: 24px;
}

// .prizes__contents {
//     background-image: url("./img/bg_prizes_sp.png");
// }

