@use "../foundation/mixin" as *;

body {
    background: var(--LP-Light-Blue, #E9F6F8);
}

header {
    background: var(--LP-White, #FFF);
}

.about__contents {
    border-radius: 24px;
    background: var(--LP-White, #FFF);
}

.prizes__inner {
    background: var(--LP-White, #FFF);
    border-radius: 24px;
}

// .prizes__contents {
//     background-image: url("./img/bg_prizes_sp.png");
// }

.spots {
    background: var(--LP-Dark-Blue, #67B0C7);
}

.question__item-a {
    background: var(--LP-Gray, #F5F5F5);
}

.contact {
    background: var(--LP-White, #FFF);
}

.form-text,.form-select,.form-textarea {
    border: none;
    border-radius: 8px;
    background: var(--LP-Gray, #F5F5F5);
}