@use "../foundation/mixin" as *;

body {
    background: var(--LP-Light-Blue, #E9F6F8);
}

header {
    background: var(--LP-White, #FFF);
}

.about__contents {
    border-radius: 24px;
    background: var(--LP-White, #FFF);
}

.prizes__contents::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 238px; /* SVG の幅 */
    height: 83px; /* SVG の高さ */
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="238" height="83" viewBox="0 0 238 83" fill="none"><path d="M0 83C11.6916 83 21.3926 74.4179 25.658 63.532C40.2316 26.3384 76.44 0 118.8 0C161.16 0 197.369 26.3384 211.942 63.5321C216.208 74.4179 225.909 83 237.6 83C118.8 83 118.8 83 0 83Z" fill="white"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1; /* 背景として配置 */
    fill: var(--LP-White, #FFF);
}
