@use "../foundation/mixin" as *;

.icon {
    img {
        width: 37.333px;
        height: 37.333px;
    }
}

.header__logo  {
    img {
        width: 210px;
        height: 27px;
    }
}

.mv {
    // background: url("../img/Onomichi.png") no-repeat center center / cover;
}

.mv__bg {
    position: absolute;
    img {
        width: 375px;
        height: 554px;
    }
}




.mv__title1 {
    img {
        width: 335px;
        height: 53px;
    }
}

.mv__title2 {
    img {
        width: 240px;
        height: 40px;
    }
}

.mv__share {
    img {
        width: 142px;
        height: 80px;
    }
}

.mv__present {
    img {
        width: 110px;
        height: 110px;
    }
}

.mv__smart {
    img {
        width: 200px;
        height: 408px;
    }
}

.mv__food {
    img {
        width: 86px;
        height: 141px;
    }
}

.mv__cats {
    img {
        width: 107px;
        height: 127px;
    }
}



.about__text1 {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 14px Bold */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
}

.about__text2 {
    color: var(--LP-Blown, #4A3636);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
}

.about__text3 {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 14px Bold */
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
}



.about__picture1 {
    img {
        width: 80px;
        height: 60px;
    }
}

.about__picture2 {
    img {
        width: 80px;
        height: 60px;;
    }
}

.about__picture-left {
    img {
        width: 200px;
        height: 200px;
    }
}

.about__picture-right {
    img {
        width: 200px;
        height: 200px;
    }
}

.about__button {
    text-align: center;
    padding: 6px 24px ;
    width: 192px;
    white-space: nowrap;

}

.about__arrow  {
    img {
        width: 100px;
        height: 36px;
    }
}

.about__sakamichi {
    img {
        height: 176px;
    }
}

.about__goods {
    img {
        width: 133px;
        height: 65.003px;
    }
}

.about__ball {
    img {
        width: 48px;
        height: 48px;
    }
}

.about__onomichi {
    img {
        width: 354.642px;
        height: 37.2px;
    }
}

.how__picture-map {
    img {
        width: 149px;
        height: 223px;
    }
}

.how__picture-cats {
    img {
        width: 160px;
        height: 194px;
    }
}

.how__step-image {
    img {
        height: 210px;
    }
}

.how__follow-icon {
    img {
        width: 20px;
        height: 20px;
    }
}

.how__step-line {
    img {
        width: 7px;
        height: 34px;
    }
}