@use "../foundation/mixin" as *;

.icon {
    img {
        width: 37.333px;
        height: 37.333px;
        @include mq(pc){
            width: 48px;
            height: 48px;
        }
    }
}

header {
    height: 64px;
    box-sizing: border-box;
}


.header__logo  {
    img {
        width: 210px;
        height: 27px;
        @include mq(pc){
            width: 183px;
            height: 24px;
        }
    }
}

.drawer-icon__bar-long {
    width: 25.6px;
    height: 3px;
}

.drawer-icon__bar-short {
    width: 4.8px;
    height: 3px;
}

.drawer-icon__bar {
    display: block;
    width: 32px;
    height: 3px;
}

.drawer-content {
    width: 100%;
    height: 100%;
}

.drawer-content__button {
    padding: 6px 24px;

}

.mv {
    // background: url("../img/Onomichi.png") no-repeat center center / cover;
}

.mv__bg {
    position: absolute;
    img {
        width: 375px;
        height: 554px;
    }
}

.mv__bg-pc{
    position: absolute;
    img {
        width: 100%;
        height: 100%;
    }
}




.mv__title1 {
    img {
        width: 335px;
        height: 53px;
        @include mq(pc){
            width: 520px;
            height: 82px;
        }
    }
}

.mv__title2 {
    img {
        width: 240px;
        height: 40px;
        @include mq(pc){
            width: 356px;
            height: 60px;
        }
    }
}

.mv__share {
    img {
        width: 142px;
        height: 80px;
        @include mq(pc){
            width: 244px;
            height: 130px;
        }
    }
}

.mv__present {
    img {
        width: 110px;
        height: 110px;
        @include mq(pc){
            width: 180px;
            height: 180px;
        }
    }
}

.mv__smart {
    img {
        width: 200px;
        height: 408px;
        @include mq(pc){
            width: 250px;
            height: 510px;
        }
    }
}

.mv__button {
    text-align: center;
    padding: 4px 24px ;
    max-width: 192px;
    white-space: nowrap;
    @include mq(pc){
        padding: 10px 40px;
        max-width: 260px;
    }
}

.mv__food {
    img {
        width: 86px;
        height: 141px;
        @include mq(pc){
            width: 202px;
            height: 332px;
        }
    }
}

.mv__cats {
    img {
        width: 107px;
        height: 127px;
        @include mq(pc){
            width: 233px;
            height: 294px;
        }
    }
}

.about__picture1 {
    margin-top: -4px;
    margin-left: -2px;
    img {
        width: 87px;
        height: auto;
        @include mq(pc){
            width: 134px;
            height: 100px;
        }
    }
}

.about__picture2 {
    margin-top: -7px;
    margin-right: -16px;
    img {
        width: 90px;
        height: auto;
        @include mq(pc){
            width: 134px;
            height: 100px;
        }
    }
}

.about__picture-naname {
    img {
        width: 250px;
        height: 250px;
    }
}

.about__picture-left {
    img {
        width: 200px;
        height: 200px;
        @include mq(pc){
            width: 480px;
            height: 480px;
        }
    }
}

.about__picture-right {
    img {
        width: 200px;
        height: 200px;
        @include mq(pc){
            width: 480px;
            height: 480px;
        }
    }
}

.about_foot {
    img {
        width: 100px;
        height: 220px;
    }
}

.about__button {
    text-align: center;
    padding: 6px 24px ;
    max-width: 192px;
    white-space: nowrap;
    @include mq(pc){
        padding: 10px 40px;
        max-width: 260px;
    }
}

.about__arrow  {
    img {
        width: 100px;
        height: 36px;
    }
}

.about__sakamichi {
    img {
        height: 212px;
    }
}

.about__goods {
    img {
        width: 133px;
        height: 65.003px;
        @include mq(pc){
            width: 308px;
            height: 150.604px;
        }
    }
}

.about__ball {
    img {
        width: 48px;
        height: 48px;
        @include mq(pc){
            width: 101px;
            height: 100.047px;
        }
    }
}

.about__onomichi {
    img {
        width: 354.642px;
        height: 37.2px;

        @include mq(pc){
            width: 891px;
            height: 97px;
        }
    }
}



.about__slide {
    max-width: 100px;
    @include mq(pc){
        max-width: 200px;
    }
    
    img {
        width: 100px;
        height: 100px;
        @include mq(pc){
            width: 200px;
            height: 200px;
        }
    }
}

#js-about-swiper .swiper-slide {
    width: 100px !important;
  
    @include mq(pc) {
      width: 200px !important;
    }
}

.how__picture-map {
    img {
        width: 149px;
        height: 223px;
        @include mq(pc){
            width: 460px;
            height: 689px;
        }
    }
}

.how__picture-cats {
    img {
        width: 160px;
        height: 194px;
    }
}

.how__picture-cats-pc {
    img {
        width: 433px;
        height: 394px;

    }
}

.how__cats-foot1,.how__cats-foot2 {
    img {
        transform: rotate(180deg);
        width: 55px;
    }
}

.how__cats-foot2 {
    img {
        transform: rotate(180deg) scaleX(-1); // ← 左右反転を追加
    }
}

.how__step-image {
    img {
        height: 210px;
        @include mq(pc){
            height: 300px;
        }
    }
}

.how__follow-icon {
    img {
        width: 20px;
        height: 20px;
    }
}

.how__step-line {
    img {
        width: 7px;
        height: 34px;
    }
}

.how__step-line-pc1,.how__step-line-pc2 {
    img {
        width: 113px;
        height: 24px;

    }
}

.how__button {
    width: 100%;
    padding: 6px 24px;
    white-space: nowrap;
    @include mq(pc){
        padding: 10px 40px;
        max-width: 437px;
    }
}

.prizes__bg-left,.prizes__bg-right {
    img {
        width: 315px;
        height: 86px;
    }
}

.prizes__inner {
    @include mq(pc){
        max-width: 1024px;
    }
}

.prizes__text {
    color: var(--LP-Blown, #4A3636);
    text-align: center;

    /* JP/Text 12px Regular */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
}

// 下のコードはPCのカードのサイズ

@include mq(pc){
    .prizes__card:nth-child(3) .prizes__card-image img,
    .prizes__card:nth-child(4) .prizes__card-image img,
    .prizes__card:nth-child(5) .prizes__card-image img {
        width: 100%;
        height: 240px;
        border-radius: 16px 16px 0 0;
    }
}

.prizes__card-image {
    img {
        width: 160px;
        height: 140px;
        border-radius: 8px 8px 0 0;
        @include mq(pc){
            width: 100%;
            height: 340px;
            border-radius: 24px 24px 0 0;

        }
    }
}

.prize__card-number {
    img {
        width: 48px;
        height: 48px;
        @include mq(pc){
            width: 100px;
            height: 100px;
        }
    }
}

@include mq(pc) {
    .prizes__card:nth-child(3) .prize__card-number img,
    .prizes__card:nth-child(4) .prize__card-number img,
    .prizes__card:nth-child(5) .prize__card-number img {
        width: 80px;
        height: 80px;
    }
}


.prizes__card-text {
    background: var(--LP-Gray, #F5F5F5);
    width: 160px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 8px;
    @include mq(pc){
        width: 100%;
        height: 120px;
        color: var(--LP-Blown, #4A3636);
        text-align: center;
        font-family: "Noto Sans JP";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 32px */
        border-radius: 0 0 24px 24px;
    }
}

.prizes__button {
    @include mq(pc){
        padding: 10px 40px;
        max-width: 437px;
    }
}

.prizes__modal {
    border-radius: 24px;
    max-width: 336px; // ✅ 最大幅を 336px にする
    max-height: 480px; // ✅ 最大高さを 480px にする
    
    @include mq(pc){
        max-width: 480px; // ✅ PC では 480px にする
        max-height: 650px;
    }
}
.prizes__modal-image {
    img {
        border-radius: 24px 24px 0 0;
        width: 336px;
        height: 210px;
        @include mq(pc){
            height: 300px;
            width: 480px;
        }
    }
}

.prizes__modal-texts {
    border-radius: 0 0 24px 24px;
    background: #FFF;
    width: 336px;
    height: 270px;
    @include mq(pc){
        width: 480px;
        height: 350px;
        padding-bottom: 80px;
    }
}

.prizes__modal-button {
    padding: 6px 24px 6px 24px;
    width: 96px;
    white-space: nowrap;
}

.bg_pic {
    img {
        display: block;
        width: 580px;
        height: 260px;
        @include mq(pc){
            width: 100%;
            height: 100%;
        }
    }
}

.wave {
    position: relative;

}

.wave_pic {
    position: absolute;
    top: -45px;
    left: -4px;
    overflow: hidden;
    img {
        width: 384px;
    }
}

.wave_pic-pc {
    position: absolute;
    top: -119px;
    
    img {
        max-width: 100%;
        height: 120px;
    }
}

.spots__icon  {
    img {
        width: 28px;
        height: 28px;
        @include mq(pc){
            width: 56px;
            height: 56px;
        }
    }
}

.spots_foot {
    img {
        @include mq(pc){
            width: 100px;
            height: 220px;
        }
    }
}

.spots__sub-title {
    img {
        width: 255px;
        height: 55px;
        @include mq(pc){
            width: 495px;
            height: 107px;
        }
    }
}

.spots-card__texts {
    height: 222px;
    @include mq(pc){
        height: 302px;
    }
}

.spots__button {
    @include mq(pc){
        padding: 10px 40px;
        max-width: 437px;
    }
}

.spots-card{
    width: 240px;
    // height: 371px;
    @include mq(pc){
        max-width: 296px;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
  
.spots__slide {
    // max-width: 318px;
    // max-height: 371px;
}

#js-gallery-swiper .swiper-slide {
    width: 240px !important;
    max-width: 100%;
}


.spots__button-prev,.spots__button-next {
    width: 80px;
    height: 80px;
}

.under_wave-pc {
    img {
        width:  100%;
        height: 120px;
    }
}

.question__item-q {
    width: 100%;
}

.question__item-q-icon {
    img {
        width: 20px;
    }
}

.question__item-a-icon {
    img {
        width: 16px;
    }
}



.question__item-button {
    img {
        width: 26.182px;
        height: 26.182px;
    }
}

.big__entry  {
    @include mq(pc){
        margin-top: 120px;
    }
    img {
        width: 375px;
        height: 99px;
        @include mq(pc){
            width: 100%;
            height: 400px;
        }
    }
}

.form-text {
    padding: 21px 16px;
    width: 100%;
}

.form-select {
    padding: 21px 16px;
    width: 100%;
}

.form-textarea {
    padding: 15px;
    width: 100%;
    height: 160px;
}

.contact__button {
    padding: 6px 24px;
    text-align: center;
    max-width: 208px;
    white-space: nowrap;
}

.follow__sns {
    a {
        img {
            width: 32px;
            height: 32px;
            @include mq(pc){
                width: 40px;
                height: 40px;
            }
        }
    }
}

.follow__onomichi {
    img {
        max-width: 335px;

        @include mq(pc){
            max-width: 755px;
        }
    }
}

.follow__map {
    img {
        border-radius: 16px 16px 0 0;
        width: 335px;
        height: 271px;
        @include mq(pc){
            width: 512px;
            height: 400px;
            border-radius: 0 16px 16px 0;
        }
    }
}

.follow__logo {
    img {
        width: 153px;
        height: 20px;
        @include mq(pc){
            width: 183px;
            height: 24px;
        }
    }
}

.follow__access-title   {
    width: 80px;
    @include mq(pc){
        width: 120px;
    }
}

.page__top {
    a{
        img {
            width: 75px;
            height: 78px;
        }
    }
}

.footer__image {
    img {
        width: 375px;
        height: 45px;
        @include mq(pc){
            width: 1520px;
            height: 120px;
        }
    }
}

